.tops-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


.filter{
    grid-area: 1 / 1 / 5 / 2;
}

.category {
    grid-area: 1 / 2 / 2 / 5;
}

.sort {
    grid-area: 1 / 5 / 2 / 6;
}

.counter {
    grid-area: 2 / 2 / 3 / 6;
}

.product-grid {
    grid-area: 3 / 2 / 5 / 6;
}

.load-items {
    grid-area: 5 / 3 / 6 / 5;
}



.product-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.title {
    margin-top: 20px;
}

.filter-container {
    margin-bottom: 20px;
}

.filterList {
    margin: 0px 30px;
}

.checks span {
    margin-left: 5px;
}

.select option{
    padding: 30px 30px;
}