.footer-shop {
    background-color: #F3F0D1;
    display: flex;
    justify-content: space-around;
}

.footer-links {
    display: flex;
    list-style-type: none;
}

.footer-links li {
    margin: 10px;
}

.footer-links li a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.footer-title h4 {
    margin: 12px;
    font-size: 18px;
}