html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.App-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.home-section {
    padding-top: 5.7%;
}

.product-info {
    width: 88%;
    display: flex;
    flex-direction: column;
}

p {
    height: 45px;
    margin-bottom: 30px;
}

.product-item {
    width: 25%;
}

.div1 {
    border: 3px solid #e9eae3;
    /* height: 15%; */
    width: 61%;
    background: #e9eae3;
}

.filterList {
    margin-left: 20px;
    margin-top: 20px;
}

.header-buttons{
    /* margin: 15px; */
    font-size: 1.5rem;
}

.header-buttons:hover {
    margin: 5px;
    border: 0px;
    height: 54%;
    font-size: 1.5rem;
    border-radius: 3px;
    box-shadow: 0px 3px 8px 1px #1f1f1e;
    background: #bebbb947;
    color: white;
}

.cart-button {
    padding: 10px 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    width: 86%;
}

.load-more {
    padding: 20px 50px;
    border-radius: 12px;
}

.div6 {
    margin-left: 73px;
    margin-top: 50px;
    margin-bottom: 50px;
}