@media all and (max-width: 600px) {
    .home-logo {
        flex-direction: column;
    }

    .div5 {
        flex-direction: column;
    }


    .header-buttons a{
        font-size: 20px;
    }

    .header-buttons:hover{
        text-align: center;
        height: 76%;
    }

    .logo {
        width: 16%;
    }

    .img-logo {
        display: none;
    }

    .product-item {
        width: 100%;
    }

    .product-info {
        display: flex;
        flex-direction: column;
    }

    .cart-button {
        padding: 5px 10px;
    }

    .sorting {
        margin-right: 19px;
    }

    .home-section {
        padding-top: 16.8%;
    }

    .sorting-options {
        width: 80px;
    }

    .filterList {
        margin: 0px;
    }

    .div3 p {
        display: none;
    }

    .div3 h1 {
        font-size: 17px;
    }

    .product-info {
        width: 86%;
    }

    .div6 {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    .load-more{
        padding: 12px 103px;
    }

    p {
        height: auto;
    }

}