@media all and (max-width: 600px) {
    .home-logo {
        flex-direction: column;
    }

    .product-grid {
        flex-direction: column;
    }


    .header-buttons a{
        font-size: 17px;
    }

    .header-buttons:hover{
        text-align: center;
        height: 76%;
    }

    

    .logo {
        width: 100%;
        margin-top: 5px;
    }

    .logo img {
        width: 100%;
    }

    .img-logo {
        display: none;
    }



    .product-item {
        width: 100%;
    }

    .product-info {
        display: flex;
        flex-direction: column;
    }

    .cart-button {
        padding: 5px 10px;
        width: 100%;
        
    }

    .cart-button:hover{
        border: 3px solid #624c0478;
        background-color: white;
    }

    .sorting {
        margin-right: 19px;
    }

    .home-section {
        padding-top: 7.8%;
    }

    .tops-content {
        padding-top: 2%
    }

    .select-option {
        font-size: 0.8rem;
    }

    .sorting-options {
        width: 80px;
    }

    .select-dropdown-sm .select-option {
        font-size: 0.8rem;
    }
    .select-dropdown-sm .input-group {
      padding: 8px;
    }
    .select-dropdown-sm .select-filter-input {
      font-size: 0.8rem;
      height: calc(1.664rem + 2px);
      min-height: calc(1.664rem + 2px);
      padding-top: 0.216rem;
      padding-bottom: 0.216rem;
    }
    .select-dropdown-sm .select-no-results {
      font-size: 0.8rem;
    }

  

    .filterList {
        margin: 7px;
    }


 
    .sort h1 {
        font-size: 17px;
    }

    .category h3 {
        display: none;
    }

    .product-info {
        width: 86%;
    }

    .load-items {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    .load-more{
        padding: 12px 80px;
    }

    p {
        height: auto;
    }

    .checks {
        display: flex;
    }

    .footer-title h4 {
        display: none;
    }

  

}